version: 2.1

orbs:
  node: circleci/node@4.1

jobs:
  build-and-test:
    docker:
      - image: cimg/node:15.1

    steps:
      - checkout

      - node/install-packages:
          pkg-manager: yarn

      - run:
          name: Install dependencies
          command: yarn install

      - run:
          name: Run tests
          command: yarn test

      - run:
          name: Build code
          command: yarn build
