.marquee-container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  height: var(--height);
  width: var(--width);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  @mixin white-gradient {
    background: linear-gradient(to right, var(--gradient-color));
  }

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100%;
    position: absolute;
    width: var(--gradient-width);
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }
}

.marquee {
  display: flex;
  flex-direction: row;
  animation: scroll var(--duration) linear var(--delay) infinite;
  animation-play-state: var(--play);
  animation-delay: var(--delay);

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(var(--direction));
    }
  }

  &:hover {
    animation-play-state: var(--pause-on-hover);
  }

  &:active {
    animation-play-state: var(--pause-on-click);
  }
}
